<a href="https://colab.research.google.com/github/WheatSeeds/ML-LabW1/blob/main/ML_LabW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Задание 1

## Работа с библиотекой Pandas

**Цель работы:** познакомиться с использованием библиотеки pandas при решении практических задач, связанных с анализом данных.

Этот набор данных предоставляет информацию о размере заработной платы
работников.
Описание полей:

* **age** – возраст
* **workclass** – класс работы
* **education** – образование
* **education-num** –
* **marital-status** – семейное положение
* **occupation** – вид деятельности
* **relationship** – степень родства
* **race** – раса
* **sex** – пол
* **capital-gain** – прирост капитала
* **capital-loss** – убыток капитала
* **hours-per-week** – часов в неделю
* **native-country** – страна происхождения
* **salary** – зарплата
* **fnlwgt** – колонка, которая показывает сколько людей с такими
же характеристиками существует. Например:

* **sex**: Male

* **age**: 43

* **marital-status**: Maried

* **fnlwgt**: 1000

Это значит, что среди работников насчитывается 1000 таких 43-летних женатых мужчин

### 1. Импортируйте необходимые библиотеки

In [ ]:
import pandas as pd
import numpy as np

### 2. Импортируйте набор данных из файла salary.csv и поместите его в датафрейм

In [ ]:
df = pd.read_csv("salary.csv")

### 3. Выведите 10 первых строк

In [ ]:
print(df.head(10))

   age          workclass  fnlwgt   education  education-num  \
0   39          State-gov   77516   Bachelors             13
1   50   Self-emp-not-inc   83311   Bachelors             13
2   38            Private  215646     HS-grad              9
3   53            Private  234721        11th              7
4   28            Private  338409   Bachelors             13
5   37            Private  284582     Masters             14
6   49            Private  160187         9th              5
7   52   Self-emp-not-inc  209642     HS-grad              9
8   31            Private   45781     Masters             14
9   42            Private  159449   Bachelors             13

           marital-status          occupation    relationship    race  \
0           Never-married        Adm-clerical   Not-in-family   White
1      Married-civ-spouse     Exec-managerial         Husband   White
2                Divorced   Handlers-cleaners   Not-in-family   White
3      Married-civ-spouse   Handlers-cleaners         Husband   Black
4      Married-civ-spouse      Prof-specialty            Wife   Black
5      Married-civ-spouse     Exec-managerial            Wife   White
6   Married-spouse-absent       Other-service   Not-in-family   Black
7      Married-civ-spouse     Exec-managerial         Husband   White
8           Never-married      Prof-specialty   Not-in-family   White
9      Married-civ-spouse     Exec-managerial         Husband   White

       sex  capital-gain  capital-loss  hours-per-week  native-country  salary
0     Male          2174             0              40   United-States   <=50K
1     Male             0             0              13   United-States   <=50K
2     Male             0             0              40   United-States   <=50K
3     Male             0             0              40   United-States   <=50K
4   Female             0             0              40            Cuba   <=50K
5   Female             0             0              40   United-States   <=50K
6   Female             0             0              16         Jamaica   <=50K
7     Male             0             0              45   United-States    >50K
8   Female         14084             0              50   United-States    >50K
9     Male          5178             0              40   United-States    >50K

### 4. Сколько строк и столбцов в наборе данных?

In [ ]:
print("Количество строк:", df.shape[0])
print("Количество столбцов:", df.shape[1])

Количество строк: 32561
Количество столбцов: 15

### 5. Проверьте набор данных на наличие отсутствующих значений и дубликатов строк. При наличии обработайте их тем или иным способом.

In [ ]:
print("Пропущенные значения: ", df.isnull().sum().sum())
print("Дубликаты: ", df.duplicated().sum())
df = df.drop_duplicates()
df = df.ffill()

Пропущенные значения:  0
Дубликаты:  24

### 6. Получите сводную информацию по датафрейму

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32537 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32537 non-null  int64
 1   workclass       32537 non-null  object
 2   fnlwgt          32537 non-null  int64
 3   education       32537 non-null  object
 4   education-num   32537 non-null  int64
 5   marital-status  32537 non-null  object
 6   occupation      32537 non-null  object
 7   relationship    32537 non-null  object
 8   race            32537 non-null  object
 9   sex             32537 non-null  object
 10  capital-gain    32537 non-null  int64
 11  capital-loss    32537 non-null  int64
 12  hours-per-week  32537 non-null  int64
 13  native-country  32537 non-null  object
 14  salary          32537 non-null  object
dtypes: int64(6), object(9)
memory usage: 4.0+ MB

### 7. Что является индексом этого набора данных? Проиндексируйте набор данных по полю age

In [ ]:
print("Изначальные индексы набора данных: ", df.index)
df = df.set_index('age')
print("Индексы после индексирования по полю age: ", df.index)

Изначальные индексы набора данных:  Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,     9,
       ...
       32551, 32552, 32553, 32554, 32555, 32556, 32557, 32558, 32559, 32560],
      dtype='int64', length=32537)
Индексы после индексирования по полю age:  Index([39, 50, 38, 53, 28, 37, 49, 52, 31, 42,
       ...
       32, 43, 32, 53, 22, 27, 40, 58, 22, 52],
      dtype='int64', name='age', length=32537)

### 8. Сколько видов деятельности упоминается в наборе данных? Перечислите их

In [ ]:
occupation_count = df['occupation'].nunique()
print("Количество видов деятельности: ", occupation_count)
print("Виды деятельности:")
print(df['occupation'].unique())

Количество видов деятельности:  15
Виды деятельности:
[' Adm-clerical' ' Exec-managerial' ' Handlers-cleaners' ' Prof-specialty'
 ' Other-service' ' Sales' ' Craft-repair' ' Transport-moving'
 ' Farming-fishing' ' Machine-op-inspct' ' Tech-support' ' ?'
 ' Protective-serv' ' Armed-Forces' ' Priv-house-serv']

### 9. Разделите набор данных на два датафрейма по размеру заработной платы (<=50 тыс. и >50 тыс.)

In [ ]:
df_low = df[df['salary'] == ' <=50K']
df_high = df[df['salary'] == ' >50K']
print("Зарплата <=50K:", df_low.shape[0], "записей")
print("Зарплата >50K:", df_high.shape[0], "записей")

Зарплата <=50K: 24698 записей
Зарплата >50K: 7839 записей

### 10.Сколько черных чиновников, работающих в правительстве разного уровня, имеют положительный прирост капитала?

In [ ]:
gov_black_capital_gain = df[(df['race'] == ' Black') &
                           (df['workclass'].str.contains('gov', case=False)) &
                           (df['capital-gain'] > 0)].shape[0]
print("Черных чиновников с положительным приростом капитала: ", gov_black_capital_gain)

Черных чиновников с положительным приростом капитала:  47

### 11.Влияет ли семейное положение работника на размер заработной платы?

In [ ]:
print("Влияние семейного положения на зарплату:")
marital_salary = pd.crosstab(df['marital-status'], df['salary'], normalize='index') * 100
print(marital_salary.round(1))

Влияние семейного положения на зарплату:
salary                 <=50K  >50K
marital-status
Divorced                89.6  10.4
Married-AF-spouse       56.5  43.5
Married-civ-spouse      55.3  44.7
Married-spouse-absent   91.9   8.1
Never-married           95.4   4.6
Separated               93.6   6.4
Widowed                 91.4   8.6

### 12.Влияет ли образование работника на размер заработной платы?

In [ ]:
print("Влияние образования на зарплату:")
education_salary = pd.crosstab(df['education'], df['salary'], normalize='index') * 100
print(education_salary.round(1))

Влияние образования на зарплату:
salary        <=50K  >50K
education
10th           93.4   6.6
11th           94.9   5.1
12th           92.4   7.6
1st-4th        96.4   3.6
5th-6th        95.2   4.8
7th-8th        93.8   6.2
9th            94.7   5.3
Assoc-acdm     75.2  24.8
Assoc-voc      73.9  26.1
Bachelors      58.5  41.5
Doctorate      25.9  74.1
HS-grad        84.0  16.0
Masters        44.3  55.7
Preschool     100.0   0.0
Prof-school    26.6  73.4
Some-college   81.0  19.0

### 13.Связано ли число часов, отработанных в неделю с размером заработной платы?

In [ ]:
print("Связь часов в неделю и зарплаты:")
hours_salary = df.groupby('salary')['hours-per-week'].describe()
print(hours_salary)

Связь часов в неделю и зарплаты:
          count       mean        std  min   25%   50%   75%   max
salary
<=50K   24698.0  38.842862  12.318286  1.0  35.0  40.0  40.0  99.0
>50K     7839.0  45.473402  11.014165  1.0  40.0  40.0  50.0  99.0

### 14.Имеется ли расовое неравенство при получении работниками академической степени бакалавра и магистра?

In [ ]:
print("Расовое распределение среди бакалавров и магистров:")
higher_education = df[df['education'].isin([' Bachelors', ' Masters'])]
race_education = pd.crosstab(higher_education['race'], higher_education['education'])
print(race_education)

Расовое распределение среди бакалавров и магистров:
education           Bachelors  Masters
race
Amer-Indian-Eskimo         21        5
Asian-Pac-Islander        289       88
Black                     330       86
Other                      33        7
White                    4680     1536

### 15.В каком виде деятельности преимущественно специализируются выходцы из Польши и каким образованием они обладают?

In [ ]:
poland_occupation = df[df['native-country'] == ' Poland']['occupation'].value_counts()
poland_education = df[df['native-country'] == ' Poland']['education'].value_counts()

print("Выходцы из Польши - виды деятельности:")
print(poland_occupation)
print("Выходцы из Польши - образование:")
print(poland_education)

Выходцы из Польши - виды деятельности:
occupation
Craft-repair         12
Prof-specialty        7
Other-service         6
Machine-op-inspct     6
Handlers-cleaners     6
Exec-managerial       5
Sales                 5
?                     4
Transport-moving      3
Adm-clerical          2
Tech-support          2
Farming-fishing       1
Priv-house-serv       1
Name: count, dtype: int64
Выходцы из Польши - образование:
education
HS-grad         20
Some-college    12
Bachelors       11
Masters          4
7th-8th          3
Assoc-acdm       3
Assoc-voc        2
11th             2
1st-4th          1
9th              1
Doctorate        1
Name: count, dtype: int64